*,
*::after,
*::before{
	margin:0;
	padding:0;
	box-sizing: inherit;
}

a:link, a:visited{
	text-decoration: none;
	color:inherit;
}

body{
	font-family: sans-serif;
	line-height: 1.6;
	box-sizing: border-box;
}

img{
  width: 100%;
  height: auto;
}